<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Web</title>
    
</head>
<body>
    <div class="content">
        <div class="main">
            <h1>Dictionary Web  <em>Search a word</em></h1>
           
            <form action="/find" method="post">
                <input type="text" name="word" placeholder="Enter a word">
                <button type="submit" value="search">Search</button>
            </form>

        </div>
        
        
    </div>
</body>
</html>